# Node modules dan folder build
node_modules/
dist/
build/

# Cypress cache dan hasil run (screenshots dan video)
cypress/videos/
cypress/screenshots/

# Log files
*.log

# OS files
.DS_Store
Thumbs.db
